@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO POWERUSER!!!</h1>
    <p class="lead">When you need a TODO list to manage your TODOs</p>
    <p><a href="https://www.wunderlist.com/#/lists/248780385" class="btn btn-primary btn-lg">Get Started</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>AppSetting - Connection Strings</h3>
        @{
            <ul>
                <li>Client ID: <strong>@ConfigurationManager.AppSettings["ClientId"];</strong></li>
                <li>DocumentStore: <strong>@ConfigurationManager.ConnectionStrings["document-store"];</strong></li>
            </ul>
        }
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary btn-lg" data-bind="click: sendEmail">Send Email</button>
    </div>
    <div class="col-md-4">

    </div>
</div>

@section scripts
{
    <script>
        var vm = {
            sendEmail: function() {
                $.post("/api/task")
                    .done(function() {
                        alert("Email Sent");
                    });
            }
        }

        ko.applyBindings(vm);
</script>
}
