@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO POWERUSER!!!</h1>
    <p class="lead">When you need a TODO list to manage your TODOs</p>
    <p><a href="https://www.wunderlist.com/#/lists/248780385" class="btn btn-primary btn-lg">Get Started</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>