<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="document-store" connectionString="Url=http://localhost:6789;Database=TodoPU" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=demomsdev;AccountKey=Y+azIVm1MDwD9zF6nNRZjs4UsgJ0l2C6sl4MZDRGJSliOZsRzRjtNTMyWcxQI5T5nJDWn7H8G4AV3/D76cUybQ==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=demomsdev;AccountKey=Y+azIVm1MDwD9zF6nNRZjs4UsgJ0l2C6sl4MZDRGJSliOZsRzRjtNTMyWcxQI5T5nJDWn7H8G4AV3/D76cUybQ==" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>